<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/styles.css')}}" />
    <title>Detalle Page</title>
</head>

<body>

    <section class="section2">
        <div class="container">
            <input type="hidden" id="idForm" name="idForm" value=2>

            <h1 class="detalleh1">{{session['datos']['name']}}</h1>
            <p>Género: {{session['datos']['genero']}}</p>
            <p>Dojo Location: {{session['datos']['location']}}</p>
            <p>Favorite Language: {{session['datos']['language']}}</p>

            {% if session['datos']['cant'] != 0: %}
            <p>Hobbies:</p>
            <ul>
                {% for i in range(0, session['datos']['cant']) %}
                <li>{{session['datos']['hobbies'][i]}}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <p>Comments: {{session['datos']['comment']}}</p>

            <div class="btnHomeDiv">
                <button class="btnHome">Home</button>
            </div>
        </div>
    </section>
    <script src="{{ url_for('static', filename='./js/script.js') }}"></script>
</body>

</html>